.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;

  .left-section {
    display: flex;
    align-items: center;

    .title {
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 500;
    }
  }

  .middle-section {
    display: flex;
    gap: 1rem;
  }

  .right-section {
    display: flex;
    align-items: center;

    .profile-placeholder {
      padding: 8px 16px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
    }
  }
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}
