.product-grid {
  padding: 20px;
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  mat-card-content {
    flex-grow: 1;

    .price {
      font-size: 1.5em;
      font-weight: bold;
      color: #3f51b5;
      margin: 10px 0;
    }
  }

  img {
    height: 200px;
    object-fit: contain;
    padding: 10px;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
}
