@if ( products.length > 0 ) {
  <div class="product-grid">
    <mat-grid-list cols="3" rowHeight="500px" gutterSize="20px">
      @for (product of products; track product.id) {
        <mat-grid-tile>
          <mat-card class="product-card">
            <mat-card-header>
              <mat-card-title>{{ product.name }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="product.imageUrl" [alt]="product.name + ' image'">
            <mat-card-content>
              <p class="price">${{ product.price | number:'1.2-2' }}</p>
              <p>{{ product.description }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary" (click)="buyProduct(product)">
                <mat-icon>shopping_cart</mat-icon>
                BUY NOW
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>

} @else {

  <div class="loading">
    <mat-spinner></mat-spinner>
    Loading products...
  </div>

}
